.backToCategory {
  background-color: black;
  border: none;
  color: $colorPrimary;
  font-size: 2rem;
  font-weight: 700;
  margin: 5rem auto;
  @include skewTransform;
  animation: showContainer ease-in-out 1s;
}
.itemDetail {
  background-color: black;
  margin: 5rem;
  width: 50%;
  margin: 5rem auto;
  @include skewTransform;
  animation: showContainer ease-in-out 1s;
  &-img {
    width: 35rem;
    img {
      width: 100%;
    }
  }
  &-quantity {
    background-color: $colorPrimary;
    color: black;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  &-name {
    color: $colorPrimary;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }
  &-price {
    color: $colorPrimary;
    font-size: 4rem;
    font-weight: 700;
  }
  .goToCart {
    font-size: 2rem;
    text-decoration: none;
    color: $colorPrimary;
    text-align: center;
    transition: all 0.2s;
    &:hover {
      color: $colorSecundary;
    }
  }
  .itemCount {
    button {
      background-color: $colorPrimary;
      width: 50px;
      height: 50px;
      font-size: 2.5rem;
      font-weight: 700;
      border: none;
      border-radius: 100%;
      transition: all 0.2s;
      border: solid transparent 0.2rem;
      &:hover {
        background-color: black;
        color: $colorSecundary;
        border-color: $colorSecundary;
      }
    }
    &-value {
      color: $colorPrimary;
      font-size: 3rem;
      font-weight: 700;
    }
  }
}
@media (max-width: 768px) {
  .itemDetail {
    width: 75%;
    flex-direction: column !important;
    gap: 2rem;
    &-img {
      width: 15rem;
    }
    &-quantity {
      font-size: 1.5rem;
    }
    &-name {
      font-size: 1.75rem;
    }
    &-price {
      font-size: 2.5rem;
    }
    .itemCount {
      button {
        width: 40px;
        height: 40px;
        font-size: 1.75rem;
        &:hover {
          background-color: $colorPrimary;
          border-color: $colorPrimary;
        }
      }
      &-value {
        font-size: 2.25rem;
      }
    }
  }
}
