.cartEmpty {
  animation: showContainer ease-in-out 1s;
  background-color: black;
  margin: 5rem auto;
  @include skewTransform;
  &-title {
    font-size: 3rem;
    color: $colorPrimary;
    font-weight: 700;
    letter-spacing: 2px;
  }
  &-link {
    font-size: 2.5rem;
    text-decoration: none;
    color: $colorPrimary;
    transition: all 0.2s;
    &:hover {
      color: $colorSecundary;
    }
  }
}
.cart {
  animation: showContainer ease-in-out 1s;
  &-container {
    &__item {
      background-color: black;
      @include skewTransform;
      &-img {
        width: 25rem;
        max-width: 185px;
        img {
          width: 100%;
        }
      }
      &-info {
        p {
          color: $colorPrimary;
          font-size: 2rem;
          font-weight: 700;
        }
        .subTotal {
          background-color: $colorPrimary;
          color: black;
          width: fit-content;
          padding: 0 0.5rem;
          font-size: 2.5rem;
        }
      }
      .removeItem {
        background-color: transparent;
        color: $colorPrimary;
        border: none;
        font-size: 2rem;
        transition: all 0.2s;
        &:hover {
          background-color: red;
        }
      }
    }
  }
  &-info {
    &__total,
    &__buttonCheckout {
      display: grid;
      place-items: center;
      height: 150px;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1px;
      background-color: black;
      color: $colorPrimary;
      padding: 2rem;
      border: solid black 0.4rem;
      @include skewTransform;
    }
    &__buttonCheckout {
      width: 250px;
      transition: all 0.2s;
      &:hover {
        background-color: rgb(0, 140, 0);
      }
    }
  }
}
@media (max-width: 768px) {
  .cart {
    &-container {
      &__item {
        gap: 2rem !important;
        width: 90% !important;
        &-info {
          p {
            font-size: 1.75rem;
            text-align: end;
          }
        }
        .removeItem {
          font-size: 1.75rem;
          &:hover {
            background-color: black;
          }
          &:active {
            background-color: red;
          }
        }
      }
    }
    &-info {
      flex-direction: column !important;
      &__total,
      &__buttonCheckout {
        height: 100px;
        font-size: 2rem;
        text-align: center;
      }
      &__buttonCheckout {
        height: 150px;
        font-size: 3rem;
        &:hover {
          background-color: black;
        }
        &:active {
          background-color: black;
          color: $colorPrimary;
        }
      }
    }
  }
}
