body {
  background: $colorPrimary;
  .headerIcon {
    width: 10rem;
  }
  .shopTitle {
    font-size: 1.75rem;
    font-weight: 700;
    color: black;
  }
  .header {
    position: sticky;
    top: 0;
    background: $colorPrimary;
    z-index: 5;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    .navbar {
      @include navbarStyle;
    }
  }
  .welcome {
    &-title {
      animation: showContainer ease-in-out 3s;
      &__title {
        font-size: 7rem;
        font-weight: 700;
        color: black;
        letter-spacing: 2px;
      }
      &__img {
        width: 28rem;
      }
    }
    &-items {
      &__title {
        font-size: 3rem;
        font-weight: 700;
        background-color: black;
        color: $colorPrimary;
        padding: 1rem;
        border-radius: 1rem;
      }
      &__container {
        .typeItem {
          background-color: rgba(0, 0, 0, 0.25);
          border: solid black 0.4rem;
          border-radius: 1rem;
          transition: all 0.4s;
          &-img {
            width: 12rem;
            img {
              width: 100%;
            }
          }
          &-name {
            font-size: 2rem;
            font-weight: 700;
            color: black;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .items {
    &-title {
      font-size: 3rem;
      font-weight: 700;
      background-color: black;
      color: $colorPrimary;
      padding: 1rem;
      border-radius: 1rem;
    }
    &-container {
      &__list {
        &-title {
          font-size: 2rem;
          background-color: black;
          color: $colorPrimary;
          padding: 0.5rem;
          border-radius: 1rem;
          font-weight: 700;
          width: 150px;
        }
        &-item {
          width: 320px;
          height: 500px;
          background-color: black;
          border-radius: 1rem;
          &__img {
            width: 20rem;
            img {
              width: 100%;
            }
          }
          &__name {
            color: $colorIcons;
            font-size: 2rem;
            font-weight: 700;
          }
          &__price {
            color: $colorPrimary;
            font-size: 3rem;
            font-weight: 700;
          }
          &__counter {
            button {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border: none;
              font-size: 3rem;
              font-weight: 700;
              color: black;
              background-color: $colorPrimary;
              height: 50px;
              width: 50px;
              border-radius: 100%;
            }
            &-value {
              color: $colorPrimary;
              font-size: 3rem;
              font-weight: 700;
            }
          }
          .buttonAddOnCart {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: $colorPrimary;
            border: none;
            font-size: 3rem;
            font-weight: 700;
            width: 50px;
            height: 50px;
            margin-left: auto;
            transition: all 0.2s;
            &:hover {
              color: white;
            }
          }
        }
        .noStock {
          z-index: -1;
          opacity: 0.2;
        }
      }
    }
  }
  .footer {
    @include footerStyle;
  }
}
