body {
  background: $colorPrimary;
  .headerIcon {
    width: 10rem;
  }
  .shopTitle {
    font-size: 1.75rem;
    font-weight: 700;
    color: black;
  }
  .header {
    position: sticky;
    top: 0;
    background: $colorPrimary;
    z-index: 5;
    // box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    .navbar {
      @include navbarStyle;
    }
  }
  .welcome {
    animation: showContainer ease-in-out 1s;
    &-title {
      &__title {
        font-size: 7rem;
        font-weight: 700;
        color: black;
        letter-spacing: 2px;
      }
      &__img {
        width: 28rem;
      }
    }
    &-items {
      &__container {
        .typeItem {
          background-color: rgba(0, 0, 0, 0.35);
          border: solid black 0.4rem;
          @include skewTransform;
          transition: all 0.4s;
          &-img {
            width: 18rem;
            img {
              width: 100%;
            }
          }
          &-name {
            font-size: 2rem;
            font-weight: 700;
            color: black;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .footer {
    @include footerStyle;
  }
}
