@import "../components/buttons/buttonAddOnCart";
@import "../components/buttons/buttonItemMoreDetails";
.items {
  animation: showContainer ease-in-out 2s;
  &-title {
    font-size: 3rem;
    font-weight: 700;
    background-color: black;
    color: $colorPrimary;
    padding: 1rem;
    @include skewTransform;
  }
  &-container {
    &__list {
      overflow-x: hidden;
      width: 100%;
      &-title {
        font-size: 2rem;
        background-color: black;
        color: $colorPrimary;
        padding: 0.5rem;
        font-weight: 700;
        width: 150px;
        @include skewTransform;
      }
      &-container {
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          background: $colorPrimary;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #000000;
          border-radius: 10px;
          border: 5px solid $colorPrimary;
        }
        width: 100%;
        &__item {
          min-width: 320px;
          height: 500px;
          background-color: black;
          @include skewTransform;
          &-img {
            width: 20rem;
            img {
              width: 100%;
            }
          }
          &-name {
            color: $colorPrimary;
            font-size: 2rem;
            font-weight: 700;
          }
          &-price {
            color: $colorPrimary;
            font-size: 3rem;
            font-weight: 700;
          }
        }
        .noStock {
          z-index: -1;
          opacity: 0.2;
        }
      }
    }
  }
}
