.buttonItemMoreDetails {
  @media (max-width: 768px) {
    font-size: 2rem;
  }
  color: $colorPrimary;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  margin-left: auto;
  transition: all 0.2s;
  &:hover {
    color: white;
  }
}
