.buttonAddOnCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: $colorPrimary;
  border: none;
  font-size: 2.5rem;
  font-weight: 700;
  transition: all 0.2s;
  &:hover {
    color: $colorSecundary;
  }
}
