@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2);

html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Product Sans';
}
body{
  background-color: #FF5A5F;
}
.navbar{
  background-color: #FF5A5F;
} 
.headerIcon{
  width: 7rem;
}
.shopTitle{
  font-size: 1.75rem;
  font-weight: 700;
}
.burgerMenuIcon i{
  font-size: 5.5rem;
}
.navbar{
  list-style-type: none;
}
.navbar li{
  font-size: 3rem;
  font-weight: 700;
  transition: all .4s;
  padding: .5rem;
  border-bottom: solid transparent .4rem;
}
.navbar li a{
  text-decoration: none;
  color: black;
}
.navbar li:hover{
  border-color: black;
}